<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
	<title>birdpiss-nzb</title>
	<link href="{{MEDIA_URL}}/css/images/favicon.ico" rel="icon" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/jquery-ui-1.7.1.custom.css" />
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/main.css" />
	<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery/jquery-ui-1.7.1.custom.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery/jquery.layout.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery/jquery.validate.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery/jquery.form.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}/js/application.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			setupUI();
		});
	</script>
</head>
<body>
	<div class="ui-layout-north">
		<div class="left-element"><h2>birdpiss-nzb</h2></div>
		<div class="right-element"><p>logged in as <strong>{{ user.username }}</strong> | <a href="password_change/">change pass</a> | <a href="logout/">logout</a></p></div>
	</div>
	<div class="ui-layout-west">
		<a href="index.html" class="category" id="upload">Upload</a>
		<hr />
		<a href="index.html" class="category" id="tv">TV Shows</a>
		<a href="index.html" class="category" id="movies">Movies</a>
		<a href="index.html" class="category" id="music">Music</a>
		<a href="index.html" class="category" id="software">Software</a>
	</div>
	<div class="ui-layout-center">
		<table id="contentTbl" cellspacing="0">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody><tr><td></td></tr></tbody>
		</table>
	</div>
	<div class="dialogs">
	    <div id="uploadDialog">
		    <form id="uploadForm" action="upload/" method="post" enctype="multipart/form-data">
		        <p>
			        <label for="usenet_file">Usenet File</label>
			        <input type="file" name="usenet_file" id="usenet_file" class="formInput" />
			        <label for="title">Title</label>
			        <input type="text" name="title" id="title" size="30" class="formInput" />
			        <label for="media">Media</label>
			        <select id="media" name="media">
			            <option value="">&nbsp;</option>
						<option value="tv">TV Show</option>
			            <option value="movies">Movie</option>
			            <option value="music">Music</option>
			            <option value="software">Software</option>
			        </select>
			    </p>
			    <ul id="errorBox"><li>&nbsp;</li></ul>
			    <p><span id="uploadingMsg" style="display:none;">Spinning up the hamster... <img src="{{MEDIA_URL}}/css/images/ajax-uploader.gif" alt="" /></span></p>
		    </form>
	    </div>
	    <div id="msgDialog">
	        <p>&nbsp;</p>
	    </div>
    </div>
</body>
</html>
