
body {
	background-color: #ffffff;
	font-family: helvetica,arial,sans-serif;
}

a {
	color: #000000;
	border:0px;
	text-decoration: none;
}

a:visited {
	color: #000000;
	border:0px;
	text-decoration: none;
}

.ui-layout-pane {
	border : 1px solid #3B6B7E;
	padding: 10px;
	overflow: auto;
}

.ui-layout-west {
	max-width: 150px;
}

.ui-layout-north {
    max-height: 50px;
}

.nzbBtn {
	border: 1px solid #3B6B7E;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	-moz-border-radius: 5px;
}

.nzbSearch {
	border: 1px solid #3B6B7E;
	padding: 2px 5px;
	margin: 0 3px;
	-moz-border-radius: 5px;
}

.art {
    float:left;
    margin:4px;
    border: 1px solid #BBB;
}

#contentTbl {
    width : 100%;
	border : 1px solid #BBB;
}

.odd { background-color: #D5DDE0; }
.even { background-color: #ffffff; }

th {
	background-color: #3B6B7E;
	color: white;
	font-weight: bold;
}

td {
	text-align:center;
}

.hover {
	background-color: #B5BEC2;
}

.dataTables_filter {
    padding:10px;
}

.dataTables_info {
	padding: 5px;
	float: left;
	width: 40%;
}

.dataTables_paginate {
	width: 400px;
	float: right;
	text-align: right;
	margin-top: 10px;
}

.dataTables_paginate
.paginate_button,
.dataTables_paginate
.paginate_active {
	border: 1px solid #3B6B7E;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	-moz-border-radius: 5px;
}

.dataTables_paginate
.paginate_active {
	color: white;
	background-color: #3B6B7E;
}

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}
